* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

/* ===========================common============================== */

a {
  text-decoration: none;
}

.main-content {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}

/*====================== header============================== */

.header {
  background-color: #fff;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .body {
  padding: 64px 0 8px;
  display: flex;
  align-items: center;
}

.header .logo {
  width: 127px;
  height: 37px;
  margin-right: auto;
}

.header .nav ul {
  display: flex;
}

.header .action .sign-in:hover,
.header .nav ul a:hover {
  text-shadow: 1px 0 0 #054046;
}

.header .nav a {
  padding: 8px 20px;
  color: #2f3a3b;
  font-size: 1.6rem;
}

.header .action {
  margin-left: auto;
  flex-shrink: 0;
}

.btn {
  height: 48px;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
}

.header .action .sign-in {
  margin-right: 14px;
  padding: 10px;
  color: #494949;
  font-size: 1.6rem;
  font-weight: 400;
}

.header .action .btn-sign-up {
  min-width: 108px;
  padding: 12px 24px;
  color: #1ebfc1;
  font-size: 1.6rem;
  font-weight: 600;
}
