* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primmany-color: #1ebfc1;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

/* ===========================common============================== */

a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}

.btn {
  height: 48px;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
  min-width: 108px;
}

.btn:hover {
  opacity: 0.9;
}

.text {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
}

.note {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}

.heading-lv2 {
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
}

.heading-lv3 {
  color: #0d1111;
  font-size: 20px;
  font-weight: 600;
}
/*====================== header============================== */

.header {
  background-color: #fff;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .body {
  padding: 64px 0 8px;
  display: flex;
  align-items: center;
}

.logo {
  width: 200px;
  height: 65px;
  margin-right: auto;
  object-fit: cover;
}

.header .nav ul {
  display: flex;
}

.header .action .sign-in:hover,
.header .nav ul a:hover {
  text-shadow: 1px 0 0 #054046;
}

.header .nav a {
  padding: 8px 20px;
  color: #2f3a3b;
  font-size: 1.6rem;
}

.header .action {
  margin-left: auto;
  flex-shrink: 0;
}

.header .action .sign-in {
  margin-right: 14px;
  padding: 10px;
  color: #494949;
  font-size: 1.6rem;
  font-weight: 400;
}

.header .action .btn-sign-up {
  padding: 12px 24px;
  color: var(--primmany-color);
  font-size: 1.6rem;
  font-weight: 600;
}

/* =================hero================= */

.hero .body {
  display: flex;
  padding: 50px 0px 78px;
}

.hero .content-block {
  width: 45%;
  margin-left: auto;
}
.hero .content-block .icon {
  margin-top: 143px;
  color: #767e7e;
  font-size: 1.4rem;
}

.hero .content-block .heading {
  margin-top: 18px;
  width: 458px;
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16; /* 116.129% */
}

.hero .content-block .desc {
  margin-top: 46px;
  width: 374px;
  color: #9da6a5;
  font-size: 1.8rem;
  line-height: 1.78; /* 177.778% */
}

.hero .cta-group {
  margin-top: 52px;
}

.hero .content-block .cta-group {
  color: #fff;
  font-size: 18px;
}

.hero .content-block .btn-get {
  background-color: var(--primmany-color);
  color: #fff;
  padding: 20px 40px;
  font-size: 1.8rem;
  font-weight: 600;
}

.hero .content-block .watch-video {
  margin-left: 50px;
  width: 62px;
  height: 62px;
  border: 1px solid #fff;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.13);
  cursor: pointer;
}

.hero .media-block {
  width: 55%;
  height: 700px;
  margin-right: auto;
  height: 640px;
  position: relative;
}

.hero .media-block .img-media {
  background-color: #e0f7f6;
  width: 576px;
  height: 631px;
  right: 0;
  object-fit: cover;
  position: absolute;
}

.hero .media-block .courses-1000 {
  position: absolute;
  width: 157px;
  height: 75px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.301);
  top: 149px;
  left: 25px;
}

.hero .courses-1000 .book {
  position: absolute;
  width: 36px;
  height: 40px;
  background-color: #ff8282;
  border-radius: 6px 3px 3px 6px;
  margin: 17px 96px 18px 25px;
}

.hero .courses-1000 .book-bar {
  width: 28px;
  height: 4px;
  background-color: #fff;
  border-radius: 999px;
  margin: 28px 4px 8px;
}

.hero .courses-1000 .text {
  position: absolute;
  width: 55px;
  margin: 22px 25px 23px 77px;
}

.hero .media-block .schedules {
  position: absolute;
  bottom: 46px;
  width: 124px;
  height: 132px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.014);
}

.hero .media-block .schedules .text {
  margin: 16px 36px 0px;
}

.hero .media-block .schedules .bar {
  border-radius: 999px;
  width: 74px;
  height: 6px;
  background: #edf1f5;
  margin: 0 auto;
}

.hero .media-block .schedules .bar1 {
  border-radius: 999px;
  margin-top: 16px;
  width: 39px;
  background: #fb9899;
  height: 5px;
}

.hero .media-block .schedules .bar2 {
  margin-top: 12px;
  width: 51px;
  background: #fb9899;
  height: 5px;
  border-radius: 999px;
}

.hero .media-block .schedules .bar3 {
  height: 5px;
  margin-top: 10px;
  width: 33px;
  background: #fb9899;
  border-radius: 999px;
}

.hero .media-block .schedules .bar4 {
  width: 26px;
  margin: 0 auto;
  margin-top: 16px;
}

.hero .main-content .avatar-group {
  position: absolute;
  width: 207px;
  height: 90px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
  right: 45px;
  bottom: 41px;
}

.hero .main-content .avatar-group .text {
  margin: 17px 72px 0px 35px;
}

.hero .media-block .avatar-group img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-left: -7px;
}

.hero .media-block .avatar-group .avatar {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .media-block .avatar-group .avatar span {
  background-color: var(--primmany-color);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 1rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -7px;
}

.hero .media-block .avatar-group img:first-child {
  margin-left: 0;
}

/* ========================features====================== */
.features .body {
  margin-top: 130px;
}

.features .heading-lv2 {
  margin-top: 18px;
  width: 577px;
  line-height: 1.33; /* 133.333% */
}

.features .desc {
  margin-top: 18px;
  color: #767e7e;
  font-size: 1.8rem;
  width: 590px;
}

.features .features-list {
  margin-top: 80px;
  display: flex;
}

.features .features-list .features-icon {
  width: 102px;
  height: 106px;
  object-fit: cover;
  border-radius: 18px;
}

.features .features-list .heading-lv3 {
  margin-top: 26px;
}
.features .features-list .desc {
  color: #9da6a5;
  width: 168px;
  font-size: 1.6rem;
  line-height: 1.69; /* 168.75% */
  margin-top: 16px;
}

.features .features-list .item + .item .desc-note {
  width: 224px;
}

.features .features-list .item + .item {
  margin-left: 205px;
}

/* ======================popular======================= */
.popular .body {
  margin-top: 130px;
}

.popular .heading-lv2 {
  margin-top: 18px;
}

.popular .link {
  margin-top: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular .link .desc {
  width: 525px;
  color: #767e7e;
  font-size: 1.8rem;
  line-height: 1.78; /* 177.778% */
}

.popular .link a {
  color: #1ebfc1;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: underline;
}

.popular .popular-list {
  margin-top: 79px;
  display: flex;
  justify-content: space-between;
}

.popular .item {
  position: relative;
}

.popular .item .image {
  width: 359px;
  height: 393px;
  object-fit: cover;
  border-radius: 8px;
  opacity: 0.35;
  background: #d0efed;
}

.popular .popular-list .popular-group {
  width: 325px;
  height: 195px;
  position: absolute;
  top: 322px;
  left: 17px;
  right: 17px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.popular .popular-group .info {
  margin: 18px 0px 29px 25px;
}

.popular .popular-group .info .price {
  margin-top: 16px;
  color: #767e7e;
  font-size: 1.6rem;
}

.popular .popular-group .info .price strong {
  margin-left: 6px;
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}

.popular-group .info .price + .desc {
  margin-top: 6px;
  color: #9da6a5;
  font-size: 1.4rem;
}

.popular-group .info .stats {
  margin-top: 18px;
}

.popular-group .info .stats .desc {
  color: #9da6a5;
  font-size: 1.4rem;
  display: inline-flex;
  align-items: center;
}

.popular-group .info .stats .desc:last-child {
  margin-left: 8px;
}

.popular-group .info .stats .desc::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: var(--primmany-color);
  border-radius: 50%;
  margin-right: 8px;
}

/* ====================countdown====================== */

.countdown .body {
  margin: 265px auto 0px;
  width: 862px;
  height: 131px;
}

.countdown .countdown-list {
  display: flex;
  width: 862px;
  height: 131px;
  justify-content: space-between;
  align-items: center;
}

.countdown .item strong {
  color: #0d1111;
  font-size: 62px;
  font-weight: 700;
}

.countdown .item p {
  margin: 11px auto 0;
  color: #767e7e;
  text-align: center;
  font-size: 1.8rem;
}

/* ====================testimonial =====================*/

.testimonial .body {
  display: flex;
  margin-top: 264px;
}

.testimonial .content {
  height: 481px;
  width: 42%;
  display: flex;
  flex-direction: column;
  margin: 37px 0;
}

.testimonial .content .quote-img {
  width: 36px;
  height: 29px;
}

.testimonial .content .desc.quote {
  color: #5d6564;
  font-size: 3.2rem;
  line-height: 1.5; /* 150% */
  margin-top: 27px;
}

.testimonial .content .student .dash {
  width: 8px;
  height: 2px;
  background: #070707;
  margin-right: 5px;
}

.testimonial .content .student .ben strong {
  color: #070707;
  font-size: 1.6rem;
  font-weight: 500;
}

.testimonial .content .student {
  margin-top: 33px;
  color: #767e7e;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}

.testimonial .content .btn-button {
  margin-top: 52px;
  display: flex;
  gap: 30px;
}

.testimonial .content .btn-button button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: var(--primmany-color);
}

.testimonial .content .btn-button button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.testimonial .image-media {
  width: 58%;
  /* height: 481px; */
  position: relative;
}

.testimonial .image-media .avar1,
.avar4 {
  background: #696ab0;
  background: linear-gradient(
    179deg,
    rgba(105, 106, 176, 1) 0%,
    rgba(179, 113, 176, 1) 57%,
    rgba(242, 180, 160, 1) 100%
  );
  object-fit: cover;
}

.testimonial .image-media .avar2,
.avar5 {
  object-fit: cover;
  background: #d880d8;
}

.avar1 {
  position: absolute;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  left: 140px;
}

.avar2 {
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  top: 19px;
  right: 0;
}

.avar3 {
  position: absolute;
  width: 235px;
  height: 235px;
  object-fit: cover;
  border-radius: 50%;
  top: 107px;
  right: 200px;
}

.avar4 {
  position: absolute;
  height: 100px;
  width: 250px;
  object-fit: cover;
  bottom: 20px;
  left: 30px;
  border-radius: 20px;
}

.avar5 {
  width: 150px;
  height: 260px;
  position: absolute;
  right: 0;
  bottom: 15px;
  border-radius: 15px;
}

/* ===================CTA======================= */

.cta {
  margin-top: 130px;
  height: 272px;
  background: #def6f5;
}

.cta-list {
  padding: 77px 154px 88px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta-desc {
  margin-top: 18px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
}

.cta-list .cta-get {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 186px;
  height: 68px;
  border-radius: 14px;
  background: #2ac9bf;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}

/* ==================footer======================== */

.footer {
  margin-top: 130px;
}

.footer-body {
  display: flex;
  column-gap: 140px;
}

.footer-column .heading-lv3 {
  margin-bottom: 26px;
}

.footer-column .link a {
  display: inline-block;
  margin-bottom: 20px;
  white-space: nowrap;
  color: #535353;
  font-size: 1.6rem;
  font-weight: 400;
}

.social-link:hover,
.footer-column .link a:hover {
  text-decoration: underline;
}

.column-social .heading-lv3 {
  margin-bottom: 18px;
}

.social-icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
}

.social-body {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-bottom: 18px;
}

.social-link {
  display: flex;
  color: #535353;
  font-size: 1.6rem;
}

/* ====================copyright=================== */

.copyright {
  padding: 60px 0 50px;
}

.copyright-text {
  text-align: center;
  color: #b0b5b4;
  font-size: 1.8rem;
  font-weight: 400;
}
